header .container,
#menu-menu-principal {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

header {
	background-color: #69010c;
}

/* .menu li:not(:first-child) {
	margin-left: 3rem;
} */

.menu a {
	text-decoration: none;
	color: #FFF;
	letter-spacing: .05rem;
    font-weight: 300;
    padding: 0 16px;
}

.menu li:hover a,
.menu .current-menu-item a {
	font-weight: 700;
}

header .container {
	justify-content: center;
}
