.pagina-main {
	/* background-color: #F4F4F4; */
	height: 100%;
}

.pagina {
	background-color: #FFF;
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.noticias-lista{
    padding-top: 30px;
}

.noticia-lista-item{
    margin: 20px 0;
}

.noticia-lista-item a{
    display: block;
    text-decoration: none;
    margin: 16px 0;
    color: #000;
}

.noticia-lista-item img{
    max-width: 100%;
    height: 300px;
    width: 100%;
}

.noticia-lista-item h2{
    font-size: 28px;
    font-weight: bold;
    margin: 16px 0;
}

.noticia-lista-item p{
    font-size: 18px;
    line-height: 1.3;
}

.busca-categoria-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	flex-basis: 100%;
}

.paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-numbers{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.page-numbers:visited{
    text-decoration: none;
}

.page-numbers.current{
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    text-decoration: none;
    font-weight: bold;
}

.next.page-numbers, .prev.page-numbers{
    border: none;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

